name: Generate_Game_APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # تحديث للنسخة الرابعة

      - name: Build with Buildozer
        uses: ArtemSerebrenninkov/buildozer-action@v1.6.1 # نسخة محددة ومستقرة
        with:
          command: debug
          buildozer_version: master

      - name: Upload APK
        uses: actions/upload-artifact@v4 # تحديث للنسخة الرابعة لحل مشكلة Failure
        with:
          name: My_AI_Game_Final
          path: bin/*.apk
