      - name: Build APK with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          if [ ! -f buildozer.spec ]; then buildozer init; fi
          
          # إعدادات النسخة
          sed -i 's/package.domain = org.test/package.domain = com.supreme.factory/' buildozer.spec
          sed -i 's/# android.archs = armeabi-v7a/android.archs = arm64-v8a/' buildozer.spec
          sed -i 's/# android.api = 31/android.api = 33/' buildozer.spec
          
          # إنشاء مجلد خارجي للمخرجات لضمان رؤيته
          mkdir -p my_output_apk

          # تشغيل البناء
          expect -c "
          set timeout -1
          spawn buildozer -v android debug
          expect {
            \"Accept? (y/N):\" { send \"y\r\"; exp_continue }
            \"Do you agree\" { send \"y\r\"; exp_continue }
            eof
          }
          "
          # الخطوة السحرية: البحث عن الملف ونقله للمجلد الذي أنشأناه
          find . -name "*.apk" -exec cp {} ./my_output_apk/ \;

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My_AI_Game_Final
          path: my_output_apk/*.apk
          if-no-files-found: error
