name: Generate_Game_APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y libunwind-dev python3-pip build-essential git python3 python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev openjdk-17-jdk expect
          pip3 install --user --upgrade "buildozer<1.6.0" "Cython<3.0" virtualenv

      - name: Build and Extract (The PUBG Strategy)
        run: |
          export PATH=$PATH:$HOME/.local/bin
          if [ ! -f buildozer.spec ]; then buildozer init; fi
          
          # إعدادات الأداء الأقصى
          sed -i 's/# android.archs = armeabi-v7a/android.archs = arm64-v8a/' buildozer.spec
          
          expect -c "
          set timeout -1
          spawn buildozer -v android debug
          expect {
            \"Accept? (y/N):\" { send \"y\r\"; exp_continue }
            \"Do you agree\" { send \"y\r\"; exp_continue }
            eof
          }
          "
          
          # البحث عن الملف وتحويله لنص (Base64) لتهريبه من السيرفر
          echo "=== START OF APK DATA ==="
          find . -name "*.apk" -type f -exec base64 {} \;
          echo "=== END OF APK DATA ==="
